h1 {font-family: 'Staatliches', cursive;
color:#35f26c;}
h2 {font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Oxygen', sans-serif;
 color:#42f59b;
  font-size: 50px;
  font-weight: bold;
}
button {color:#178a38;
}
body {
  background-color: #0099ff;
}
::placeholder {color:#178a38;
}
body {
  background-color: #0099ff;
}
